@{
   Layout = "_Layout1";
}
<head>
     <link rel="stylesheet" href="~/css/aboutus.css"/>  
</head>
<div class="container pull-right" style="width: 79%;">
    <div class="header text-center">
        <h1> About </h1>
        <hr>
    </div>
    <!-- Introduction Row -->
      <h1 class="my-4">About Us</h1>
      <p>Mondialotto - I Love this Bet!</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>Daniel Hake
            <small>Student</small>
          </h3>
          <p>Learend computer science at Collage of Management, Rishon-Lezion</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>Daniel Hake
            <small>Soccer Player</small>
          </h3>
          <p>Semi-pro soccer player</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>Daniel Hake
            <small>Also a Person</small>
          </h3>
          <p>25 years old, from Tel-Aviv, Israel.</p>
          <p>Contact: hakeeee@gmail.com</p>
        </div>
    </div>

    </div>
    <!-- /.container -->



  

</div>