@{
   Layout = "_Layout1";
}
<div class="container pull-right" style="width: 79%;">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1> Records </h1>
            <hr>
        </div>
        <div class="col-sm-6 text-center">
            <h1>Top Tables</h1>
        <div class="well">
            <table class="table">
            <thead>
                <tr>
                <th>Rank (#)</th>
                <th>League Name</th>
                <th>Total Points</th>
                <th style="width: 36px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Overall</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Glick</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Motionize</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Caffe Ruth</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bluestone</td>
                    <td>600</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Rubbi</td>
                    <td>900</td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    <div class="col-sm-6 text-center">
            <h1>Top Users</h1>
            <div class="well">
            <table class="table">
            <thead>
                <tr>
                    <th> Rank (#) </th>
                    <th>User-Name</th>
                    <th>Points</th>
                    <th style="width: 36px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Daniel</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Daniel</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Daniel</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Daniel</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Daniel</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Daniel</td>
                    <td>1000</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
    