@{
   Layout = "_Layout1";
}

<div class="container pull-right" style="width: 79%;">
    <div class="row justify-content-around text-center">
        <h1>Table's Name</h1>
        <hr>
        <!-- League table -->
            <div class="col-sm-12 text-center">
                <div class="well">
                    <h2> Table </h2>
                    <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center"> #</th>
                            <th class="text-center">User Name</th>
                            <th class="text-center">Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Daniel</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Messi</td>
                            <td>90</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Ronaldo</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Conte</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Costa</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Buffon</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <!-- Top scorers table -->
             <div class="col-sm-6 text-center">
            <div class="well">
                <h1>Top Scorers</h1>
                <table class="table">
                    <thead >
                        <tr>
                            <th class="text-center"> # </th>
                            <th class="text-center"> Name </th>
                            <th class="text-center">Team</th>
                            <th class="text-center">Goals</th>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Del Piero</td>
                        <td>Italy</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Del Piero</td>
                        <td>Italy</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Del Piero</td>
                        <td>Italy</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Del Piero</td>
                        <td>Italy</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Del Piero</td>
                        <td>Italy</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Del Piero</td>
                        <td>Italy</td>
                        <td>100</td>
                    </tr>
                </tbody>
            </table>
        </div>
            <!-- Stats table -->
            <div class="col-sm-6 text-center">
                <div class="well">
                    <h2> Stats </h2>
                    <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center"> Most Picked Team</th>
                            <th class="text-center">Most Picked Player</th>
                            <th class="text-center">Avg. Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Italy</td>
                            <td>Del Piero</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <!-- next game table -->
            <div class="col-sm-6 text-center">
                <div class="well">
                    <h2> Next Game </h2>
                    <h4> Italy - Israel - 16/12/2018 </h4>
                    <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center"> UserName </th>
                            <th class="text-center">Bet</th>
                            <th class="text-center">Double Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Daniel</td>
                            <td>2-1</td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr>
                            <td>Daniel</td>
                            <td>2-1</td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>

                        </tr>
                        <tr>
                            <td>Daniel</td>
                            <td>2-1</td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        </tr>
                        <tr>
                            <td>Daniel</td>
                            <td>2-1</td>
                            <td><span class="glyphicon glyphicon-remove"></span></td>   
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>