@{
    ViewData["Title"] = "Login";
}
<!-- <h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3> -->


<div class="container">
	<div class="row">
    	<div class="container justify-content-center" id="formContainer">
          <form class="col-sm-4 form-signin" id="login" role="form">
            <h3 class="form-signin-heading">Please Log-In</h3>
            <a href="#" id="flipToRecover" class="flipLink">
              <div id="triangle-topright"></div>
            </a>
            <input type="text" class="form-control" name="loginName" id="loginName" placeholder="UserName" required autofocus>
            <input type="password" class="form-control" name="loginPass" id="loginPass" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log-In</button>
          </form>

        </div> <!-- /container -->
	</div>
</div>

